body {
  margin: 0;
}

section {
  padding-top: 10px;
  height: auto;
  z-index: 1;
}

section .bg img{
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}

section > .judul {
  position: absolute;
  display: flex;
  padding: 15px 0px;
  align-items: start;
  justify-content: center;
  z-index: 3;
  width: 100%;
}

section > .judul > img {
  position: static;
  margin-top: -35%;
  width: 25%;
  height: 15%;
}




