body {
  margin: 0;
}

section {
  padding-top: 10px;
  height: auto;
}

section > .judul {
  display: flex;
  padding: 15px 0px;
  align-items: start;
  justify-content: center;
  background-image: url("Foto/Component 1slide.svg");
  width: 100%;
  height: 710px;
  background-size: 100%;
  background-position: center;
}

section > .judul > img {
  margin-top: 150px;
  height: 15%;
}




